<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bus_hour">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <meta-data
    android:name="com.google.android.gms.ads.APPLICATION_ID"
    android:value="[ADMOB_APP_ID]"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
